body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    background-color: white;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header {
    background-color: #7a5af7; /* Purple */
    color: white;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    padding: 20px;
    text-align: left;
    line-height: 1.6;
}

.footer {
    background-color: #7a5af7; /* Purple */
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

form {
    display: block;
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input[type='email'], input[type='text'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type='submit'] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7a5af7; /* Purple */
    color: white;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #6a1b9a; /* Darker Purple */
}

#verificationPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    z-index: 1000;
}

@media screen and (max-width: 768px) {
    .container, form {
        width: 95%;
        max-width: none;
    }
}
